* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}

body {
    background: url(cielo.jpg) #000;
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

/* CAJA SUPERIOR */
.superior {
    width: 90%;
    max-width: 1100px;
    /* margin:auto */
}

/* CAJA */
.caja {
    width: 40%;
    margin: 2em;
    /* margin:32px */
}

/* CAJA Y LOS PARRAFOS */
.caja p{
    display: inline-block;
    line-height: 1em;
}

/* CAJA DE FECHA */
.fecha{
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0,0,0, .5);
    padding: 20px;
    width: 100%;
}

/* CAJA DE RELOJ */
.reloj{
    font-family: sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0, .5);
}

.reloj .caja-segundos{
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}